In [11]:
from MyCreds.mycreds import USCensusAPI
import requests
import pandas as pd
import ast
from tqdm.notebook import tqdm

In [2]:
def get_variable_table_df(year):
    variable_table_url = f'https://api.census.gov/data/{year}/acs/acs1/variables.html'
    v_table = pd.read_html(variable_table_url)
    variable_df = pd.DataFrame(v_table[0])

    return variable_df

In [3]:
def get_male_by_age_index(variable_table):
    start_index = variable_table[((variable_table['Label'] == 'Estimate!!Total!!Male') | (variable_table['Label'] == 'Estimate!!Total:!!Male:')) & (variable_table['Concept'] == 'SEX BY AGE')].index[0]
    end_index = variable_table[((variable_table['Label'] == 'Estimate!!Total!!Male!!85 years and over') | (variable_table['Label'] == 'Estimate!!Total:!!Male:!!85 years and over')) & (variable_table['Concept'] == 'SEX BY AGE')].index[0]
    return start_index, end_index + 1

In [4]:
def get_variable_names(variable_table, indeces):
    total_male_by_age_variables = ",".join(variable_table.iloc[indeces[0]: indeces[1]]['Name'].values)
    return total_male_by_age_variables

In [5]:
def get_query_url(year, variables):
    # API Reference: https://www.census.gov/data/developers/guidance/api-user-guide.Example_API_Queries.html
    host = 'https://api.census.gov/data'
    year = f'/{year}'
    # Data Dictionary: https://api.census.gov/data.html
    dataset_acronym = '/acs/acs1'
    g = '?get='
    # Variables for the ACS: https://api.census.gov/data/2005/acs/acs1/variables.html
    # variables = 'NAME,B01001_001E'
    location = '&for=us:*'
    usr_key = f"&key={USCensusAPI.api_key}"

    query_url = f"{host}{year}{dataset_acronym}{g}{variables}{location}{usr_key}"

    return query_url

In [6]:
def get_query_text(query_url):
    response = requests.get(query_url)
    return response.text

In [7]:
def get_values_from_response(response_text):
    values = [int(i) for i in ast.literal_eval(response_text)[1][:-1]]
    return values

In [8]:
def get_labels(variable_df, indeces):
    # labels = ['Male: Total', *[i.strip('Estimate!!Total:!!').replace("!!", " ") for i in variable_df.iloc[indeces[0]:indeces[1]]['Label'].values]]
    labels = [i.replace("!!", " ").replace(":", "") for i in variable_df.iloc[indeces[0]:indeces[1]]['Label'].values]
    return labels

In [9]:
def create_year_pop_dataframe(year, labels, values):
    df = pd.DataFrame({year: {labels[i]: values[i] for i in range(len(labels))}}).reindex(labels)
    return df

In [10]:
def create_male_pop_by_age_df(year):
    v_table = get_variable_table_df(year)
    male_by_age_indeces = get_male_by_age_index(v_table)
    variables = get_variable_names(v_table, male_by_age_indeces)
    query_url = get_query_url(year, variables)
    response_text = get_query_text(query_url)
    vals = get_values_from_response(response_text)
    labels = get_labels(v_table, male_by_age_indeces)
    df = create_year_pop_dataframe(year, labels, vals)
    return df

In [41]:
years = [i for i in range(2005, 2020)]
male_pop_by_age_df = pd.DataFrame(columns=['Population Label'])
for year in tqdm(years):
    try:
        y_df = create_male_pop_by_age_df(year).reset_index().rename({'index': 'Population Label'}, axis=1)
        male_pop_by_age_df = pd.merge(male_pop_by_age_df, y_df, how='outer', on='Population Label')
    except IndexError:
        next

  0%|          | 0/15 [00:00<?, ?it/s]

In [42]:
male_pop_by_age_df

,Population Label,2005,2006,2007,2008,2009,2012,2013,2014,2015,2016,2017,2018,2019
0,Estimate Total Male,141274964,147434940,148639222,149863485,151375321,154436243,155627698,156890101,158167834,159061631,160402504,161118151,161588973
1,Estimate Total Male Under 5 years,10356773,10421888,10578358,10707049,10853263,10166500,10109150,10117103,10112826,10130841,10138447,10047966,9938937
2,Estimate Total Male 5 to 9 years,9945226,10098366,10087957,10154505,10273948,10493216,10516217,10511796,10507658,10487494,10223398,10095699,10033518
3,Estimate Total Male 10 to 14 years,10674272,10587454,10513768,10428924,10532166,10601990,10622312,10596279,10533944,10579748,10854851,11000943,10987313
4,Estimate Total Male 15 to 17 years,6415594,6641247,6679175,6563046,6487137,6432763,6402435,6390741,6470980,6480400,6456448,6394674,6361859
5,Estimate Total Male 18 and 19 years,3642423,4504703,4573863,4678168,4696946,4613289,4556876,4550073,4495739,4511323,4547414,4578048,4541794
6,Estimate Total Male 20 years,1946123,2346861,2358876,2343397,2381015,2463952,2450726,2416850,2378536,2355103,2354931,2334371,2318283
7,Estimate Total Male 21 years,1926099,2268506,2269700,2239549,2285493,2444471,2398385,2375223,2357032,2318893,2284991,2261277,2257008
8,Estimate Total Male 22 to 24 years,5861680,6205974,6187367,6228461,6383204,6590360,6808517,6830222,6833725,6731345,6640221,6526051,6439169
9,Estimate Total Male 25 to 29 years,9657845,10356272,10505697,10713487,11006461,10760625,10867688,11070617,11290711,11496946,11720804,11869477,11817829
10,Estimate Total Male 30 to 34 years,9666002,9893240,9800936,9817992,10060873,10451315,10635488,10765544,10839950,10901776,11023521,11111452,11281470
11,Estimate Total Male 35 to 39 years,10206343,10675120,10625293,10553094,10297457,9761486,9831950,10001134,10235171,10377670,10664164,10790784,10892040
12,Estimate Total Male 40 to 44 years,11121959,11273754,11110082,10873215,10582197,10506617,10382817,10273647,10073616,9837971,9807571,9900261,10028675
13,Estimate Total Male 45 to 49 years,10898786,11283628,11345000,11349805,11308794,10710557,10477997,10309499,10315271,10375001,10369440,10253794,10079567
14,Estimate Total Male 50 to 54 years,9652987,10037576,10289260,10539798,10674127,11051752,11042453,11049751,10957719,10726369,10521449,10266496,10075795
15,Estimate Total Male 55 to 59 years,8254342,8762788,8782255,8935709,9098584,9973838,10227740,10333822,10479885,10557089,10561492,10515549,10440265
16,Estimate Total Male 60 and 61 years,2597744,2697559,3134244,3446968,3390303,3632437,3722503,3811110,3939947,3971452,4106765,4134525,4168435
17,Estimate Total Male 62 to 64 years,3606637,3773329,3860246,3868507,4282178,4975812,5000227,5174218,5290469,5461772,5606148,5745886,5882735
18,Estimate Total Male 65 and 66 years,2002360,2096170,2199526,2401977,2492871,2967347,3274963,3217874,3232330,3301033,3381427,3437352,3538792
19,Estimate Total Male 67 to 69 years,2658450,2745928,2811172,2893564,3029709,3589046,3613546,4010030,4357791,4609409,4596961,4618529,4652319
20,Estimate Total Male 70 to 74 years,3739824,3835107,3897991,3991339,4088428,4655827,4907097,5125062,5304173,5498831,5912776,6221547,6529918
21,Estimate Total Male 75 to 79 years,3099604,3168881,3182523,3172759,3168175,3276860,3390122,3523217,3633694,3717778,3934609,4195815,4367764
22,Estimate Total Male 80 to 84 years,2072317,2210627,2234634,2260017,2258021,2366793,2378028,2393854,2419737,2460143,2492574,2591562,2671396
23,Estimate Total Male 85 years and over,1271574,1549962,1611299,1702155,1743971,1949390,2010461,2042435,2106930,2173244,2202102,2226093,2284092

In [24]:
df_2018 = create_male_pop_by_age_df(2018).reset_index().rename({'index': 'Population Label'}, axis=1)
df_2018

                         Population Label       2018
0                     Estimate Total Male  161118151
1       Estimate Total Male Under 5 years   10047966
2        Estimate Total Male 5 to 9 years   10095699
3      Estimate Total Male 10 to 14 years   11000943
4      Estimate Total Male 15 to 17 years    6394674
5     Estimate Total Male 18 and 19 years    4578048
6            Estimate Total Male 20 years    2334371
7            Estimate Total Male 21 years    2261277
8      Estimate Total Male 22 to 24 years    6526051
9      Estimate Total Male 25 to 29 years   11869477
10     Estimate Total Male 30 to 34 years   11111452
11     Estimate Total Male 35 to 39 years   10790784
12     Estimate Total Male 40 to 44 years    9900261
13     Estimate Total Male 45 to 49 years   10253794
14     Estimate Total Male 50 to 54 years   10266496
15     Estimate Total Male 55 to 59 years   10515549
16    Estimate Total Male 60 and 61 years    4134525
17     Estimate Total Male 62 to 64 years    5745886
18    Estimate Total Male 65 and 66 years    3437352
19     Estimate Total Male 67 to 69 years    4618529
20     Estimate Total Male 70 to 74 years    6221547
21     Estimate Total Male 75 to 79 years    4195815
22     Estimate Total Male 80 to 84 years    2591562
23  Estimate Total Male 85 years and over    2226093

In [22]:
df_2019 = create_male_pop_by_age_df(2019).reset_index().rename({'index': 'Population Label'}, axis=1)
df_2019

                         Population Label       2019
0                     Estimate Total Male  161588973
1       Estimate Total Male Under 5 years    9938937
2        Estimate Total Male 5 to 9 years   10033518
3      Estimate Total Male 10 to 14 years   10987313
4      Estimate Total Male 15 to 17 years    6361859
5     Estimate Total Male 18 and 19 years    4541794
6            Estimate Total Male 20 years    2318283
7            Estimate Total Male 21 years    2257008
8      Estimate Total Male 22 to 24 years    6439169
9      Estimate Total Male 25 to 29 years   11817829
10     Estimate Total Male 30 to 34 years   11281470
11     Estimate Total Male 35 to 39 years   10892040
12     Estimate Total Male 40 to 44 years   10028675
13     Estimate Total Male 45 to 49 years   10079567
14     Estimate Total Male 50 to 54 years   10075795
15     Estimate Total Male 55 to 59 years   10440265
16    Estimate Total Male 60 and 61 years    4168435
17     Estimate Total Male 62 to 64 years    5882735
18    Estimate Total Male 65 and 66 years    3538792
19     Estimate Total Male 67 to 69 years    4652319
20     Estimate Total Male 70 to 74 years    6529918
21     Estimate Total Male 75 to 79 years    4367764
22     Estimate Total Male 80 to 84 years    2671396
23  Estimate Total Male 85 years and over    2284092

In [25]:
df_2018.merge(df_2019, on='Population Label')

                         Population Label       2018       2019
0                     Estimate Total Male  161118151  161588973
1       Estimate Total Male Under 5 years   10047966    9938937
2        Estimate Total Male 5 to 9 years   10095699   10033518
3      Estimate Total Male 10 to 14 years   11000943   10987313
4      Estimate Total Male 15 to 17 years    6394674    6361859
5     Estimate Total Male 18 and 19 years    4578048    4541794
6            Estimate Total Male 20 years    2334371    2318283
7            Estimate Total Male 21 years    2261277    2257008
8      Estimate Total Male 22 to 24 years    6526051    6439169
9      Estimate Total Male 25 to 29 years   11869477   11817829
10     Estimate Total Male 30 to 34 years   11111452   11281470
11     Estimate Total Male 35 to 39 years   10790784   10892040
12     Estimate Total Male 40 to 44 years    9900261   10028675
13     Estimate Total Male 45 to 49 years   10253794   10079567
14     Estimate Total Male 50 to 54 years   10266496   10075795
15     Estimate Total Male 55 to 59 years   10515549   10440265
16    Estimate Total Male 60 and 61 years    4134525    4168435
17     Estimate Total Male 62 to 64 years    5745886    5882735
18    Estimate Total Male 65 and 66 years    3437352    3538792
19     Estimate Total Male 67 to 69 years    4618529    4652319
20     Estimate Total Male 70 to 74 years    6221547    6529918
21     Estimate Total Male 75 to 79 years    4195815    4367764
22     Estimate Total Male 80 to 84 years    2591562    2671396
23  Estimate Total Male 85 years and over    2226093    2284092

In [39]:
df = pd.DataFrame(columns=['Population Label'])
df = pd.merge(df, df_2019, how='outer', on='Population Label')
df

                         Population Label       2019
0                     Estimate Total Male  161588973
1       Estimate Total Male Under 5 years    9938937
2        Estimate Total Male 5 to 9 years   10033518
3      Estimate Total Male 10 to 14 years   10987313
4      Estimate Total Male 15 to 17 years    6361859
5     Estimate Total Male 18 and 19 years    4541794
6            Estimate Total Male 20 years    2318283
7            Estimate Total Male 21 years    2257008
8      Estimate Total Male 22 to 24 years    6439169
9      Estimate Total Male 25 to 29 years   11817829
10     Estimate Total Male 30 to 34 years   11281470
11     Estimate Total Male 35 to 39 years   10892040
12     Estimate Total Male 40 to 44 years   10028675
13     Estimate Total Male 45 to 49 years   10079567
14     Estimate Total Male 50 to 54 years   10075795
15     Estimate Total Male 55 to 59 years   10440265
16    Estimate Total Male 60 and 61 years    4168435
17     Estimate Total Male 62 to 64 years    5882735
18    Estimate Total Male 65 and 66 years    3538792
19     Estimate Total Male 67 to 69 years    4652319
20     Estimate Total Male 70 to 74 years    6529918
21     Estimate Total Male 75 to 79 years    4367764
22     Estimate Total Male 80 to 84 years    2671396
23  Estimate Total Male 85 years and over    2284092

In [40]:
df = pd.merge(df, df_2018, how='outer', on='Population Label')
df

                         Population Label       2019       2018
0                     Estimate Total Male  161588973  161118151
1       Estimate Total Male Under 5 years    9938937   10047966
2        Estimate Total Male 5 to 9 years   10033518   10095699
3      Estimate Total Male 10 to 14 years   10987313   11000943
4      Estimate Total Male 15 to 17 years    6361859    6394674
5     Estimate Total Male 18 and 19 years    4541794    4578048
6            Estimate Total Male 20 years    2318283    2334371
7            Estimate Total Male 21 years    2257008    2261277
8      Estimate Total Male 22 to 24 years    6439169    6526051
9      Estimate Total Male 25 to 29 years   11817829   11869477
10     Estimate Total Male 30 to 34 years   11281470   11111452
11     Estimate Total Male 35 to 39 years   10892040   10790784
12     Estimate Total Male 40 to 44 years   10028675    9900261
13     Estimate Total Male 45 to 49 years   10079567   10253794
14     Estimate Total Male 50 to 54 years   10075795   10266496
15     Estimate Total Male 55 to 59 years   10440265   10515549
16    Estimate Total Male 60 and 61 years    4168435    4134525
17     Estimate Total Male 62 to 64 years    5882735    5745886
18    Estimate Total Male 65 and 66 years    3538792    3437352
19     Estimate Total Male 67 to 69 years    4652319    4618529
20     Estimate Total Male 70 to 74 years    6529918    6221547
21     Estimate Total Male 75 to 79 years    4367764    4195815
22     Estimate Total Male 80 to 84 years    2671396    2591562
23  Estimate Total Male 85 years and over    2284092    2226093